<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>SG_SaleItems</title>
      
      <link rel="stylesheet" href="/css/footer.css" />
      <link rel="stylesheet" href="/css/reset.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <style>
        .link-unstyled,
        .link-unstyled:link,
        .link-unstyled:hover {
          color: inherit;
          text-decoration: inherit;
        }
      </style>
      <link rel="stylesheet" href="/css/header.css" />
  </head>
  
  <body>
    
    <header>
      <div class="headerRow">
        <div class="headerColumn">
          <a href="/">
            <img src="/img/home.svg" />
          </a>
        </div>
        <div class="headerColumn">
          <a href="/" class = "link-unstyled">
            <h2>SHOP</h2>
          </a>
        </div>
        <% if(loggedUser){ %>
        <div class="headerColumn">
          <a href="https://www.instagram.com/juunzzi/">
            <img src="/img/search.svg" />
          </a>
          <a href="<%=routes.logout%>">
            <span id="Login">Logout</span>
          </a>
          <a href="<%=routes.userDetail(loggedUser.id)%>">
            <span id="mypage">MyPage</span>
          </a>
          <a href="<%=routes.shoppingBasket(loggedUser.id)%>">
            <span id="cart">Cart</span>
          </a>
        </div>
        <% }else{ %>
        <div class="headerColumn">
          <a href="https://www.instagram.com/juunzzi/">
            <img src="/img/search.svg" />
          </a>
          <a href="<%=routes.login%>">
            <span id="Login">Login</span>
          </a>
          <a href="<%=routes.join%>">
            <span id="Login">Join</span>
          </a>
        </div>
        <% } %>
      </div>
      <br />
      <div class="headerRow">
        <div class="headerColumn"><a href="/clothes/outer/1"><span>OUTER</span></a></div>
        <div class="headerColumn"><a href="/clothes/top/1"><span>TOP</span></a></div>
        <div class="headerColumn"><a href="/clothes/bottom/1"><span>BOTTOM</span></a></div>
        <div class="headerColumn"><a href="/clothes/shoes/1"><span>SHOES</span></a></div>
      </div><br><br>
      <div class="headerRow">
        <div class="headerColumn"><a href="/clothes/sale"><span>SALE</span></a></div>
        <div class="headerColumn"><a href="/clothes/popular"><span>POPULAR</span></a></div>
        <div class="headerColumn"><a href="/clothes/sale"><span>SALE</span></a></div>
        <div class="headerColumn"><a href="/clothes/popular"><span>POPULAR</span></a></div>
      </div><br>
    </header>
      <div class="container">
        <br><br>
        <form class = "form-group" id="upload_form" action="./upload" method="POST">

            <fieldset >
                <legend class = "text-center">데이터추가 </legend>
                <table class = "table table-hover text-center" style="border: 1px solid">
                    <tr>
                        <td><label>상품명 </label></td>
                        <td><input class = "form-control" type="text" name="name" id="name" /></td>
                    </tr>
                    <tr>
                        <td><label>카테고리</label></td>
                        <td><select class = "form-control" name="category" id="category">
                            <option value="outer">outer</option>
                            <option value="top">top</option>
                            <option value="bottom">bottom</option>
                            <option value="shoes">shoes</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label>가격</label></td>
                        <td><input class = "form-control" type="number" name="price" id="price"/></td>
                    </tr>
                    <tr>
                        <td><label>할인율</label></td>
                        <td><input type="number" name="discount" id="discount"/></td>
                    </tr> 
                    <tr>
                        <td><label>성별</label></td>
                        <td class="form-group">
                            <input class="mb-2 mr-sm-2" type="radio" name="gender" id="gender" value="F">F</input>
                            <input class="mb-2 mr-sm-2" type="radio" name="gender" id="gender" value="M">M</input>
                            <input class="mb-2 mr-sm-2" type="radio" name="gender" id="gender" value="A">A</input>
                        </td>
                    </tr>
                    <tr>
                        <td><label>재고</label></td>
                        <td><input class = "form-control" type="number" name="stock" id="stock"/></td>
                    </tr>
                    <tr>
                        <td><label>좋아요 수</label></td>
                        <td><input class = "form-control" type="number" name="likeCnt" id="likeCnt"/></td>
                    </tr>
                    <tr>
                        <td><label>메인 이미지</label></td>
                        <td><input class = "form-control" type="text" name="main_img" id="main_img" /></td>
                    </tr>
                    <tr>
                        <td><label>상세 이미지 </label></td>
                        <td><input class = "form-control" type="text" name="detail_img" id="detail_img" /></td>
                    </tr>
                </table>
                <div class="row">
                  <div class="col-md-6 text-center"></div>
                    <input class = "btn btn-primary" type="submit" id="upload" value="UPLOAD" />
                  </div>
                </div>
            </fieldset>
        </form>
     </div>
      <br>
      
      <footer>
        <span>&copy;copyright by supergreat</span>
      </footer>
    
    <script>
     
    </script>
  </body>
</html>



 