<!DOCTYPE html>
<html>
  <head>
    <title>SG_Cart</title>
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/cart.css" />
    
  </head>

  <body>
    <header>
      <%- include('./header');%>
    </header>
    <div class="container">
      <br><br><br>
      <h2 class="text-center">장바구니입니다.</h2>
      <br><br>
      <table class="table table-hover table-striped text-center" style="border: 1px solid">
        <thead class="table-striped">
          <tr>
            <th>상품이미지</th>
            <th>상품 이름</th>
            <th>카테고리</th>
            <th>가격</th>
            <th>할인정보</th>
            <th>삭제하기</th>
          </tr>
        </thead>
        <% if(length == 1){ %>
          <tr>
            <th><img src="/clothes/<%=result[0].main_img %>" class="img-fluid" style="width:100px; height:100px;" ></th>
            <th><%=result[0].name%></th>
            <th><%=result[0].category%></th>
            <th><%=result[0].price%>원</th>
            <th><% if(result[0].discount>=1){%>
              할인상품
            <% }else{%>
              정가상품
            <% }%></th>
            <th><a href class="link-unstyled">X</a></th>
          </tr>
          
        <% }else{ %>
        <% for(var i=0;i<length;i++){ %>
        <tr>
          <th><img src="/clothes/<%=result[i][0].main_img %>" class="img-fluid" style="width:100px; height:100px;"></th>
          <th><%=result[i][0].name%></th>
          <th><%=result[i][0].category%></th>
          <th><%=result[i][0].price%>원</th>
          <th><% if(result[i][0].discount>=1){%>
            할인상품
            <% }else{%>
            정가상품
            <% }%></th>
            <th><a href class="link-unstyled">X</a></th>
        </tr>
        <% }%>
        <% }%>
      
      </table>
    
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="<%=routes.order(loggedUser.id)%>" class="btn btn-primary text-center" >주문하기</a>
        </div>
      </div>
      <br>
      <br>
    </div>
      
      
      <!-- Mypage header section -->
    </div>

    <footer>
      <span>copyrightⓒ by supergreat</span>
    </footer>
  </body>
</html>
