<!DOCTYPE html>
<html lang="en">
  <head>
      <title>SG_DeliveryTracking</title>
      <link rel="stylesheet" href="/css/home.css" />
      <link rel="stylesheet" href="/css/footer.css" />
      <link rel="stylesheet" href="/css/sale.css" />
      <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body>

    <div class="container">
      <header>
        <div class="headerRow">
          <div class="headerColumn">
            <a href="./">
              <img src="../img/home.svg" />
            </a>
          </div>
          <div class="headerColumn">
            <a href="./">
              <h2>SHOP</h2>
            </a>
          </div>
          <% if(loggedUser){ %>
          <div class="headerColumn">
            <a href="https://www.instagram.com/juunzzi/">
              <img src="../img/search.svg" />
            </a>
            <a href="<%=routes.logout%>">
              <span id="Login">Logout</span>
            </a>
            <a href="<%=routes.userDetail(loggedUser.id)%>">
              <span id="mypage">MyPage</span>
            </a>
            <a href="<%=routes.shoppingBasket(loggedUser.id)%>">
              <span id="cart">Cart</span>
            </a>
          </div>
          <% }else{ %>
          <div class="headerColumn">
            <a href="https://www.instagram.com/juunzzi/">
              <img src="../img/search.svg" />
            </a>
            <a href="<%=routes.login%>">
              <span id="Login">Login</span>
            </a>
            <a href="<%=routes.join%>">
              <span id="Login">Join</span>
            </a>

           
          </div>
          <% } %>
        </div>
        <br />
        <div class="headerRow">
          <div class="headerColumn">
            <a href="./products.html"><span>OUTER</span></a>
          </div>
          <div class="headerColumn">
            <a href="./products.html"><span>TOP</span></a>
          </div>
          <div class="headerColumn">
            <a href="./products.html"><span>BOTTOM</span></a>
          </div>
          <div class="headerColumn">
            <a href="./products.html"><span>SHOES</span></a>
          </div>
        </div>
        <br /><br />
        <div class="headerRow">
          <div class="headerColumn">
            <a href="./sale.html"><span>SALE</span></a>
          </div>
          <div class="headerColumn">
            <a href="./popular.html"><span>POPULAR</span></a>
          </div>
          <div class="headerColumn">
            <a href="./sale.html"><span>SALE</span></a>
          </div>
          <div class="headerColumn">
            <a href="./popular.html"><span>POPULAR</span></a>
          </div>
        </div>
        <br />
      </header>
      <div class="row">
        <h3>Sale Items</h3>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <!--<div class="text">Outer</div><br>-->
          <div class="products">
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
            <section class="product">
              <div class="each-product">
                <img src="./img/work-one.jpeg" style="width:100%">
                <p class="product_name">name1</p>
                <p class="product_price">50,000</p>
                <p class="product_ex">product explanation</p>
              </div>
            </section>
          </div>       
        </div>
      </div>
      <br>
      
      <footer>
        <span>&copy;copyright by supergreat</span>
      </footer>
    </div>
    <script>
     
    </script>
  </body>
</html>



 