<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/header.css" />
    <link rel="stylesheet" href="../public/css/footer.css" />
    <link rel="stylesheet" href="../public/css/reset.css" />
    
    <!--bootstrap core -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </head>

  <body>
      <header><%- include('./header');%></header>

      <div class="container">
        <h2 class="text-center">Review</h2>

        <table
          class="table table-hover table-striped text-center"
          style="border: 1px solid"
        >
          <thead class="table-striped">
            <tr>
              <th>번호</th>
              <th>상품코드</th>
              <th>제목</th>
              <th>작성자</th>
              <th>별점</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0;i<length;i++){ %>
            <tr>
              <th><%=result[i][0].idx%></th>
              <th><%=result[i][0].product_idx%></th>
              <th><%=result[i][0].title%></th>
              <th><%=result[i][0].user_id%></th>
              <th><%=result[i][0].star%></th>
            </tr>
            <% } %>
          </tbody>
        </table>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="comment">review 작성:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    <br><br>
        </div>
  </body>
</html>
